h1 {
    width: fit-content;
    padding: 1%;
    margin: 0 auto;
    border: 5px solid #333333;
    background-color: rgba(237, 255, 71, .5);
    box-shadow: black 10px 10px 5px;
    border-radius: 5px;
}
.board {
    position: relative;
    margin: 1% auto;
    background-color: #000000;
    /* This creates the grid lines */
    background-image:
        /* Horizontal */
        linear-gradient(#333333 1px, transparent 1px),
        /* Vertical */
        linear-gradient(90deg, #333333 1px, transparent 1px);
    border: 5px solid #333333;
    box-shadow: black 10px 10px 5px;
    border-radius: 5px;
}

.cell {
    background-image: linear-gradient(to bottom right, darkred, red, darkred);
    position: absolute;
}

.rules {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    padding-bottom: 4%;
    margin-right: 10%;
    border: 5px solid #333333;
    box-shadow: black 10px 10px 5px;
    background-color: rgba(237, 255, 71, .5);
    border-radius: 5px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    width: fit-content;
    padding: 1%;
    margin: auto;
    border: 5px solid #333333;
    background-color: rgba(237, 255, 71, .5);
    box-shadow: black 10px 10px 5px;
    border-radius: 5px;
}

.button {
    margin-left: 12px;
    cursor: pointer;
}