.board {
    position: relative;
    margin: 0 auto;
    background-color: #000000;
    /* This creates the grid lines */
    background-image:
        /* Horizontal */
        linear-gradient(#333333 1px, transparent 1px),
        /* Vertical */
        linear-gradient(90deg, #333333 1px, transparent 1px);
}

.cell {
    background: #cccccc;
    position: absolute;
}

.controls {
    margin-top: 20px;
}

.button {
    margin-left: 12px;
    cursor: pointer;
}